networks:
  over-ne:
    driver: bridge

services:
  web:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    networks:
      - over-ne
    depends_on:
      - mongo
    volumes:
      - ./app:/app

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    networks:
      - over-ne
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  nginx:
    image: nginx:latest
    networks:
      - over-ne
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  mongo_data:
