<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Document Analyzer|Upload</title>
    </head>
    <body>
        <h1>Document analyzer</h1>
        <nav>
            {% if not current_user.is_authenticated %}
            <h3>Добро пожаловать.</h3>
            <p>Пожалуйста, войдите или зарегестрируйтесь.</p>
            <a href="{{ url_for('auth_bp.login') }}">Авторизация</a>
            <a href="{{ url_for('auth_bp.register') }}">Регистрация</a>
            {% else %}
            <h3>Добро пожаловать, {{current_user.username}}</h3>
            <a href="{{ url_for('collections_bp.collections') }}">Мои коллекции</a>
            <a href="{{ url_for('api_user.logout') }}">Выход</a>
            {% endif %}
            
        </nav>
    </body>
</html>