<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Document Analyzer|Вход</title>
    </head>
    <body>
        <a href="{{ url_for('index_bp.index') }}">Домашняя страница</a>
        <form method="POST" action="{{ url_for('auth_bp.register') }}">
            <h2>Регистрация</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="email" name="email" placeholder="Почта" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="password" name="password_repeat" placeholder="Повторите пароль" required>
            <button type="submit">Зарегистрироваться</button>
            <a href="{{ url_for('auth_bp.login') }}">Уже есть аккаунт? Войти</a>
        </form>
    </body>
</html>