<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Document Analyzer|Upload</title>
    </head>
    <body>
        <a href="{{ url_for('index') }}">Домашняя страница</a>
        <h1>Загрузить новый файл</h1>
        <div id="loading" style="display: none;">Обработка документа...</div>
        <form method=post enctype=multipart/form-data onsubmit="showLoader()">
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
        {% if words %}
        <h2>Результаты для {{ filename }}</h2>
        <table border="1">
            <tr>
                <th>Слово</th>
                <th>TF</th>
                <th>IDF</th>
            </tr>
            {% for row in words %}
            <tr>
                <td>{{ row.word }}</td>
                <td>{{ row.tf }}</td>
                <td>{{ row.idf }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <script>
            function showLoader() {
                document.getElementById('loading').style.display = 'block';
            }
        </script>
    </body>
</html>